{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card card-solid col-12">
                <div class="card-body">
                    <div class="row ">
                        <div class="col-md-4">
                            <div class="card card-primary card-outline">
                                <div class="card-body box-profile">
                                    <div class="text-center">
                                        <img class="img-circle elevation-2 bg-light" src="{{ app.user.avatarUrl(100) }}"
                                             alt="User Avatar">
                                    </div>

                                    <h3 class="profile-username text-center">{{ app.user.email }}</h3>

                                    <p class="text-muted text-center">Software Engineer</p>

                                    <ul class="list-group list-group-unbordered mb-3">
                                        <li class="list-group-item">
                                            <b>Followers</b> <a class="float-right">1,322</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Following</b> <a class="float-right">543</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Friends</b> <a class="float-right">13,287</a>
                                        </li>
                                    </ul>

                                    <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card card-default">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-bullhorn"></i>
                                        Callouts
                                    </h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="callout callout-danger">
                                        <h5>I am a danger callout!</h5>

                                        <p>There is a problem that we need to fix. A wonderful serenity has taken possession of my entire
                                            soul,
                                            like these sweet mornings of spring which I enjoy with my whole heart.</p>
                                    </div>
                                    <div class="callout callout-info">
                                        <h5>I am an info callout!</h5>

                                        <p>Follow the steps to continue to payment.</p>
                                    </div>
                                    <div class="callout callout-warning">
                                        <h5>I am a warning callout!</h5>

                                        <p>This is a yellow callout.</p>
                                    </div>
                                    <div class="callout callout-success">
                                        <h5>I am a success callout!</h5>

                                        <p>This is a green callout.</p>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
