{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="card card-widget widget-user mt-5">
                <div class="widget-user-header bg-info">
                    <h3 class="widget-user-username">{{ user.email }}</h3>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle elevation-2 bg-light" src="{{ user.avatarUrl(100) }}" alt="User Avatar">
                </div>
                <div class="card-footer">
                    <div>
                        <p>Вітаємо! Ви успішно підтвердили свій аккаунт</p>
                        <div><a href="{{ path('app_login') }}">Увійти</a><a class="float-right" href="{{ path('homepage') }}">Перейти на головну</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
