<form name="file_form_json" method="post" enctype="multipart/form-data" class="d-inline-block">
    <div class="card-body p-0">
        <input type="file" id="file-form-jsonFile" name="file_form[jsonFile]" required="required"
               class="custom-file-input form-control-sm d-none" accept="application/json">
        <label for="file-form-jsonFile" id="btn-import-json"></label>
    </div>
</form>

