<form name="file_form_json" method="post" enctype="multipart/form-data" class="d-inline-block">
    <div class="card-body p-0">
        <input type="file" id="file-form-jsonFile" name="file_form[jsonFile]" required="required"
               class="custom-file-input form-control-sm d-none" accept="application/json">
        <label class="btn btn-app btn-control" for="file-form-jsonFile">
            <i class="fas fa-file-import text-success"></i> Import *.json
        </label>
    </div>
</form>

