<form name="file_form_xml_import" method="post" enctype="multipart/form-data" class="d-inline-block">
    <div class="card-body p-0">
        <input type="file" id="file-form-xmlFileImport" name="file_form[xmlFileImport]" required="required"
               class="custom-file-input form-control-sm d-none" accept="application/xml">
        <label for="file-form-xmlFileImport" id="btn-import-xmlFile"></label>
    </div>
</form>