{% extends 'base.html.twig' %}

{% block title %}Hello FileController!{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/services.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="col-6">
        {% include 'file/_form_xml.html.twig' %}
    </div>
{% endblock %}
