<h2>Дякуємо за реєстрацію на сайті
    <a href="{{ url('homepage') }}">
        XmlRed
    </a>!
</h2>

<p>
    {#    You signed up as {{ username }} the following email:#}
</p>
<p>{{ user.email }}</p>

<p>
    <a href="{{ path('register_email_confirmation', {'code': user.confirmationCode }) }}">Click here to activate your account</a>
    (this link is valid until )
</p>
